body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #0f172a, #1e293b);
  color: white;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: none;
}

button {
  background: #38bdf8;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
